src/main/app/choice-queryparam.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="choice-queryparamFlow">
        <http:listener config-ref="HTTP_Listener_Configuration_flight" path="/cp" doc:name="HTTP"/>
        <choice doc:name="Choice">
            <when expression="#[message.inboundProperties['http.query.params'].language ==  'Spanish']">
                <set-payload value="Hola" doc:name="Spanish Set Payload"/>
            </when>
            <when expression="#[message.inboundProperties['http.query.params'].language ==  'French']">
                <set-payload value="Bonjour" doc:name="French Set Payload"/>
            </when>
            <otherwise>
                <set-payload value="Hello" doc:name="English Set Payload"/>
            </otherwise>
        </choice>
    </flow>
</mule>
