target/classes/file-connector.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <file:connector name="OutboundFile" writeToDirectory="C:\ssh\workspace\dw-tutorial4-flights-ws\src\test\resources\outputfile" readFromDirectory="C:\ssh\workspace\dw-tutorial4-flights-ws\src\test\resources\inputfile" autoDelete="false" streaming="false" validateConnections="true" doc:name="File"/>
    <flow name="inbound-outbound-fileconnectorFlow" doc:description="inbound-outbound file connector">
        <file:inbound-endpoint responseTimeout="10000" doc:name="Inbound File" connector-ref="InboundFile" moveToDirectory="src/test/resources/archivefile" moveToPattern="#[message.inboundProperties.originalFilename].archive" path="src/test/resources/inputfile"/>
        <logger message="File move successfully!!!!" level="INFO" doc:name="Logger"/>
        <file:outbound-endpoint path="src/test/resources/outputfile" outputPattern="#[message.inboundProperties.originalFilename].output" connector-ref="OutboundFile" responseTimeout="10000" doc:name="Outbound File"/>
    </flow>
</mule>
